*{
    padding: 2px;
    margin: 0;
    
    
}
a{
    text-decoration: none;
    color: #EC4067
    
}


 
li{
    display: inline;
    padding-right: 20px;
    text-decoration: none;
    font-size: large;
    

}


button{
    background-color: #EC4067;
    border: none;
    padding: 5px;
}
nav{
    display: flex;
    justify-content: space-between;
}
.nurturing{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}


img{
    
    width: 200px;
    
}


 #nurture{
    color: #EC4067;
}

.orientation{
    height: 100px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
span{
    color: #EC4067;
    font-weight: bold;
}
#color{
    padding-left: 200px;
    margin-bottom: 50px;
}
#last{
    padding-left: 200px;
}
    
.boardmeet{
    display: flex;
    padding: 70px;
    height: 200px;
}
#pad{
    padding-top: 50px;
    font-size: medium;
}
.ping{
    padding-left: 200px;
}
#bike{
    padding-left: 200px;

}
#story{
    padding-left: 120px;
    
}

#board{
    padding-left: 120px;
}
#graduand{
    padding-right: 100px;
    
}
#day{
    padding-top: 50px;
}
#graduate{
    display: flex;
    justify-content: space-around;
    margin-bottom: 250px;
}
.party{
    display: flex;
    padding: 50px;
    height: 200px;
}
.mentors{
    float: left;

}
.aria{
    margin-left: 100px;
    
    
}
.looc{
    color: #EC4067;
}
.section3{
    display: flex;
    justify-content: space-between;
    margin-bottom: 250px;
}
.section4{
    display: flex;
    justify-content: space aro;
}